## InputAttentionCopyingSeq2Seq_tune_model

In [6]:
# 1. Combine predicted files in order
# 2. Combine gold files in order
# 3. Format gold file to add "\tdatabase" reading from test.json
!pwd

/home/ss6618/spider/baselines/seq2seq_attention_copy

In [1]:
# 1. Combine predicted files in order
file = open("./InputAttentionCopyingSeq2Seq_tune_model_data/output_test.txt", "r")
pred_data=file.readlines()
file.close()

In [2]:
pred_data = pred_data[3:]

In [3]:
file1 = open("./InputAttentionCopyingSeq2Seq_tune_model_data_radn_split/output_test.txt", "r")
pred_data_split=file1.readlines()
file1.close()

In [4]:
pred_data_split = pred_data_split[3:]

In [5]:
pred_data.extend(pred_data_split)

In [6]:
len(pred_data)

1732

In [7]:
with open('InputAttentionCopyingSeq2Seq_tune_model_predictions.txt', 'w') as f:
    for line in pred_data:
        f.write(f"{line}")

## AttentionSeq2Seq_tune_model

In [15]:
# 1. Combine predicted files in order
file = open("./AttentionSeq2Seq_tune_model_data/output_test.txt", "r")
pred_data=file.readlines()
file.close()

In [16]:
pred_data[0:8]

["make mask data provider args: ['data/datasets/data_final_processed/test/test_encode.txt'] None ['data/datasets/data_final_processed/test/test_decoder_mask.txt'] False 1    \n",
 "source_files ['data/datasets/data_final_processed/test/test_encode.txt']\n",
 '<seq2seq.data.split_tokens_decoder.SplitTokensDecoder object at 0x7f936d174c10>\n',
 "schema data source ['data/datasets/data_final_processed/test/test_decoder_mask.txt']\n",
 "schemas.data_sources ['data/datasets/data_final_processed/test/test_decoder_mask.txt']\n",
 "items_schema [u'decoder_mask']\n",
 "tensor_schema [<tf.Tensor 'input_fn/StringToNumber:0' shape=(?,) dtype=float32>]\n",
 'select t2 . product_name , sum ( t1 . product_price ) from products as t1 join products as t2 on t1 . product_id = t2 . product_id join products as t3 on t3 . product_id = t1 . product_id group by t2 . product_name\n']

In [17]:
pred_data[7]

'select t2 . product_name , sum ( t1 . product_price ) from products as t1 join products as t2 on t1 . product_id = t2 . product_id join products as t3 on t3 . product_id = t1 . product_id group by t2 . product_name\n'

In [18]:
pred_data = pred_data[7:]

In [19]:
file1 = open("./AttentionSeq2Seq_tune_model_data_radn_split/output_test.txt", "r")
pred_data_split=file1.readlines()
file1.close()

In [20]:
pred_data_split = pred_data_split[7:]

In [21]:
pred_data.extend(pred_data_split)

In [22]:
len(pred_data)

1732

In [23]:
with open('AttentionSeq2Seq_tune_model_predictions.txt', 'w') as f:
    for line in pred_data:
        f.write(f"{line}")

In [24]:
pred_data[0]

'select t2 . product_name , sum ( t1 . product_price ) from products as t1 join products as t2 on t1 . product_id = t2 . product_id join products as t3 on t3 . product_id = t1 . product_id group by t2 . product_name\n'

## BasicSeq2Seq_tune_model

In [26]:
# 1. Combine predicted files in order
file = open("./BasicSeq2Seq_tune_model_data/output_test.txt", "r")
pred_data=file.readlines()
file.close()

In [27]:
pred_data[0:8]

["make mask data provider args: ['data/datasets/data_final_processed/test/test_encode.txt'] None ['data/datasets/data_final_processed/test/test_decoder_mask.txt'] False 1    \n",
 "source_files ['data/datasets/data_final_processed/test/test_encode.txt']\n",
 '<seq2seq.data.split_tokens_decoder.SplitTokensDecoder object at 0x7efe63cefb90>\n',
 "schema data source ['data/datasets/data_final_processed/test/test_decoder_mask.txt']\n",
 "schemas.data_sources ['data/datasets/data_final_processed/test/test_decoder_mask.txt']\n",
 "items_schema [u'decoder_mask']\n",
 "tensor_schema [<tf.Tensor 'input_fn/StringToNumber:0' shape=(?,) dtype=float32>]\n",
 'select t2 . product_name , avg ( product_price ) from order_items as t1 join order_items as t2 on t1 . order_id = t2 . order_id group by t2 . order_id\n']

In [28]:
pred_data[7]

'select t2 . product_name , avg ( product_price ) from order_items as t1 join order_items as t2 on t1 . order_id = t2 . order_id group by t2 . order_id\n'

In [29]:
pred_data = pred_data[7:]

In [30]:
file1 = open("./BasicSeq2Seq_tune_model_data_radn_split/output_test.txt", "r")
pred_data_split=file1.readlines()
file1.close()

In [31]:
pred_data_split = pred_data_split[7:]

In [32]:
pred_data.extend(pred_data_split)

In [33]:
len(pred_data)

1732

In [34]:
with open('BasicSeq2Seq_tune_model_predictions.txt', 'w') as f:
    for line in pred_data:
        f.write(f"{line}")

In [35]:
pred_data[0]

'select t2 . product_name , avg ( product_price ) from order_items as t1 join order_items as t2 on t1 . order_id = t2 . order_id group by t2 . order_id\n'

In [42]:
# 3. Create a gold file in a format similar to the gold file given - lower() and spaces, ensuring we have "{value}" in place of proper nouns 
# from test1.json and test2.json

In [2]:
import json

with open("data/datasets/data/test1.json") as json_file:
    test1 = json.load(json_file)
    json_file.close()

In [4]:
with open("data/datasets/data_radn_split/test2.json") as json_file:
    test2 = json.load(json_file)
    json_file.close()

In [5]:
test = test1 + test2
len(test)

1732

In [32]:
import re

# Define a function to convert table aliases to lowercase with spaces
def convert_aliases(match):
    return match.group(0).lower()

# original_query = 'SELECT T1.product_name , sum(T2.order_quantity) FROM products AS T1 JOIN order_items AS T2 ON T1.product_id = T2.product_id GROUP BY T1.product_id'


def format_query(original_query):
    # Define the regular expression pattern to match and replace table aliases
    pattern = re.compile(r'\b([A-Za-z_]\w*)\b')

    # Use the sub method to replace table aliases with lowercase versions
    converted_query = pattern.sub(convert_aliases, original_query)

    # Add spaces around dots in column and table references
    converted_query = re.sub(r'(\w)\.\s*(\w)', r'\1 . \2', converted_query)

    # Add spaces before and after opening parentheses in function calls
    converted_query = re.sub(r'(\w+)\s*\(', r'\1 ( ', converted_query)

    # Add spaces before and after closing parentheses in function calls
    converted_query = re.sub(r'(\w+)\s*\)', r'\1 )', converted_query)
    
    converted_query = re.sub('\\"([A-Za-z]+)\\"', "{value}", converted_query)
    return converted_query

In [34]:
gold_formatted = []

for record in test:
    line = ""
    query = format_query(record['query'])
    line += query
    line +="\t" + record['db_id'] + "\n"
    gold_formatted.append(line)    

print(gold_formatted[0])

select t1 . product_name ,  sum ( t2 . order_quantity ) from products as t1 join order_items as t2 on t1 . product_id  =  t2 . product_id group by t1 . product_id	customers_and_products_contacts

In [36]:
len(gold_formatted)

1732

In [38]:
with open('test_gold.txt', 'w') as f:
    for line in gold_formatted:
        f.write(f"{line}")

In [39]:
with open('test_gold.sql', 'w') as f:
    for line in gold_formatted:
        f.write(f"{line}")

83